{% extends "base.html" %}{% block content %}{% load static %}
<section class="content">
  <div class="header"> 
    <img src="{% static 'img/techis-logo.png' %}" />
    <h1>
      Edit
    </h1>
  </div>
  <section class="posts_form">
    <div class="icon">
      <img src="{% static 'img/profile-user.png' %}" alt="">
    </div>
    <form action="/edit/{{posts.id}}/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Your name" value="{{posts.name}}" required />
      <textarea  name="body" placeholder="What's happening?" required>{{posts.body}}</textarea>.
      <img src="{{posts.image.url}}" class="image2">
      <div class="bottom">
        <input type="file" name="image" id="file">
        <a href="/">
        <input type="button" id="cancel" value="Cancel"/>
        </a>
        <input type="submit" value="Update" id="tweet"/>
      </div>
    </form>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="{% static 'js/post.js' %}"></script>
</section>
{% endblock %}
