html,
body {
    max-height: 100%;
    margin: 0
}
.content {
  max-width: 600px;
  max-height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/*
post
*************************************************/
.header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.header img{
  width: 15%;
  padding-bottom: 5px;
}
.icon{
  width: 20%;
}
.icon img{
  width: 65%;
  border-radius: 50%;
}
.posts_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.posts_form input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  background: lavender;
  border: none;
}

.posts_form textarea {
  width: 94%;
  border: none;
  font-size: 16px;
  height: 60px;
}

.posts ul {
  padding: 0;
}
.posts li {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 17px;
  list-style: none;
}
.posts li .menu_icon {
  width: 20px;
  position:absolute;
  right: 30px;
  top: 18px;
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 18px;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 30px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px; 
}

.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60px;
    border-radius: 50%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}

.bottom{
  display: flex;
  justify-content: space-between;
}

#file {
  background: none;
  width: 150px;
}

#tweet {
  width: 80px;
  background-color: aqua;
}

#cancel {
  width: 80px;
  height: 40px;
  margin: 0;
}

.like img{
  width: 30px;
}

.like a{
  text-decoration: none;
}

.image{
  width: 300px;
}

.image2{
  width: 300px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500x) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}